body {
    background-color: #C6D490;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4 {
    font-family: 'Shrikhand', cursive;
    color: #A84322;
}

h1 {
    font-size: 3.5em;
}

img {
    border-radius: 10px;
}

a, a:hover {
    color: #00876A;
}

#fb-btn {
    margin-top: 15px;
    margin-right: 40px;
}

#fb-btn2 {
    margin-top: 15px;
    margin-right: 40px;
}

#logout {
    margin-right: 40px;
}

#profile {
    display: none;
}

#logout {
    display: none;
}

.hidden {
    display: none;
}